<header *ngIf="currentRoute !== '/login'">
  <div class="signIn">
    <a routerLink="/login">Sign in </a> | <a >Currency </a> |
    <div class="cartLogo" >
      <a routerLink="/cart"><fa-icon [icon]="faShoppingBag"></fa-icon></a>
      <h6 *ngIf="totalCartCount>0">{{totalCartCount}}</h6>
    </div>
  </div>
  <a routerLink="/" class="back-to-home">
    <h1>
      <img src="../../assets/images/Vector_1.svg" alt="" /><span>B</span>ook
      Souls
    </h1>
  </a>
  <nav>
    <div [ngClass]="navigation" class="nav-links"  >
      <fa-icon [icon]="faTimes" class="xsign x" (click)="hideMenu()"></fa-icon>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <fa-icon [icon]="faTimes"></fa-icon>
        <li><a >Categories</a></li>
        <fa-icon [icon]="faTimes"></fa-icon>
        <li><a routerLink="/about">About</a></li>
        <fa-icon [icon]="faTimes"></fa-icon>
        <li><a >Library</a></li>
        <div style="display: flex;  align-items: center;">
        <fa-icon [icon]="faTimes"></fa-icon>
        <li><a routerLink="admin">Add Books</a></li>
      </div>
      </ul>

      <div class="search_bar">
        <input type="text" placeholder="SEARCH..." />
        <fa-icon [icon]="faSearchLocation"></fa-icon>
      </div>
    </div>
    <fa-icon [icon]="faBars" (click)="showMenu()" class="xsign bars"></fa-icon>
  </nav>
</header>

