<header>
  <div class="signIn">
    <a href="#">Sign in </a> | <a href="#">Currency </a> |
    <div class="cartLogo">
      <a href="#"><fa-icon [icon]="faShoppingBag"></fa-icon></a>
      <h6 *ngIf="totalCartCount>0">{{totalCartCount}}</h6>
    </div>
  </div>
  <a href="index.html" class="back-to-home">
    <h1>
      <img src="../../assets/images/Vector_1.svg" alt="" /><span>B</span>ook
      Souls
    </h1>
  </a>
  <nav>
    <div [ngClass]="navigation" class="nav-links"  >
      <fa-icon [icon]="faTimes" class="xsign x" (click)="hideMenu()"></fa-icon>
      <ul>
        <li><a href="index.html">Home</a></li>
        <fa-icon [icon]="faTimes"></fa-icon>
        <li><a href="#">Categories</a></li>
        <fa-icon [icon]="faTimes"></fa-icon>
        <li><a href="#">Author</a></li>
        <fa-icon [icon]="faTimes"></fa-icon>
        <li><a href="search.html">Library</a></li>
        <fa-icon [icon]="faTimes"></fa-icon>
        <li><a href="#">Promotions & Rewards</a></li>
      </ul>

      <div class="search_bar">
        <input type="text" placeholder="SEARCH..." />
        <fa-icon [icon]="faSearchLocation"></fa-icon>
      </div>
    </div>
    <fa-icon [icon]="faBars" (click)="showMenu()" class="xsign bars"></fa-icon>
  </nav>
</header>

