<section class="images">
    <div class="container">
      <div class="upper-part">
        <div class="upper-img">
          <img src="../../assets/images/writers.png" alt="Snow" style="width: 100%" />
          <div class="left-text">
            <h2>
              All Of Your <br />
              Favourite Authors
            </h2>
          </div>
        </div>

        <div class="upper-img">
          <img src="../../assets/images/Rectangle_23.png" style="width: 100%" />
          <div class="right-text">
            <h2>
              Variety <br />
              of <br />
              Books
            </h2>
          </div>
        </div>
      </div>
      <div class="bottom-img">
        <img src="../../assets/images/library-lights-banner_1.png" style="width: 100%" />
        <div class="bottom-text">
          <h2>A Full Library In Between Your Hands</h2>
        </div>
      </div>
    </div>
  </section>
