.line {
    height: 17px;
    background: linear-gradient(90deg, #1F5F70 0%, #007882 12.41%, #089F8F 33.33%, #10989E 50%, #1891AC 66.67%, #1C759A 83.33%);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }