<app-line></app-line>
<div class="shopping-cart">
  <div class="cart">
    <h1>Shopping Cart</h1>
  </div>

  <div class="item">
    <ng-container *ngFor="let item of myMap| keyvalue">
        <app-cart-item [item]="item?.value" (deleteEmitter)="delete($event)"></app-cart-item>
        
    </ng-container>
    <p *ngIf="myMap.size == 0" class="no-products">No Products Added Yet!</p>
  </div>

  <div class="checkout">
    <button
      onclick=" location.href='checkout.html' "
      type="button"
      class="checkout_btn"
    >
      Proceed to Checkout
    </button>
  </div>
</div>
<app-line></app-line> 