<div class="bodyyy">
  <div class="left">
    <h1>
      <img src="../../assets/images/Vector_1.svg" alt="" /><span>B</span>ook
      Souls
    </h1>
    <section class="login-img-sec">
      <h2>GET ENGULPHED</h2>
      <img src="../../assets/images/login.svg" alt="" />
    </section>
  </div>
  <div class="right">
    <div class="top">
      <p> {{ showSignUp ? 'Already a member?' : 'Not a member?' }}</p>
      <a (click)="showSignUp = !showSignUp" style="cursor: pointer;">{{ showSignUp ? 'Sign In' : 'Sign Up' }}</a>
    </div>
    <div class="bottom">
      <p>Sign in to Book Souls</p>
      <div class="google">
        <button (click)="loginWithGoogle()">
          <img src="../../assets/images/googleSign.svg" alt="" /> Sign in with
          Google
        </button>
        <a href="#"
          ><div class="fb"><img src="../../assets/images/FB.svg" alt="" /></div
        ></a>
      </div>
      <h2><span>Or</span></h2>
      <ng-container *ngIf="showSignUp; else signInTemplate">
        <app-sign-up-form></app-sign-up-form>
      </ng-container>
      <ng-template #signInTemplate>
        <app-sign-in-form></app-sign-in-form>
      </ng-template>
    </div>
  </div>
</div>
