<app-line></app-line>
<section class="book_desc">
    <div class="product_main" *ngIf="item|async as Book">
      <div class="product_main_image">
        <img [src]="value.Imageurl" alt="" />
      </div>
      <div class="product_main_interface">
        <h1>{{value.name}}</h1>

        <p>{{value.Author}}</p>
        

        <p id="price">{{value.Price|currency}}</p>
        <div class="product_buttons">
          <button (click)="addToCart(value)">ADD TO CART</button>
        </div>
      </div>
    </div>
    <div class="product_description">
      <h1>DESCRIPTION</h1>
      <p>
        {{value.Description}}
      </p>
    </div>
  </section>
  <app-line></app-line>