<app-line></app-line>
<section class="book_desc">
    <div class="product_main">
      <div class="product_main_image">
        <img src="../../assets/images/images.jpeg" alt="" />
      </div>
      <div class="product_main_interface">
        <h1>{{item?.name}}</h1>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>

        <p id="price">{{item?.price}}</p>
        <div class="product_buttons">
          <button (click)="addToCart(item)">ADD TO CART</button>
        </div>
      </div>
    </div>
    <div class="product_description">
      <h1>DESCRIPTION</h1>
      <p>
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          laboriosam quia, sequi cumque eveniet ex? Fugiat labore nam iusto,
          facilis earum possimus consequuntur consectetur quasi, rem nostrum
          beatae ducimus tenetur?</span
        ><span
          >Officiis, quae perferendis beatae dolor quos recusandae corrupti,
          tempora impedit magnam possimus repudiandae ab molestias consequatur
          veritatis, aut fuga nostrum vitae optio nam. Accusantium, magnam
          delectus. Maxime a vitae quam.</span
        ><span
          >Maxime nihil ipsum asperiores molestias consectetur quis architecto
          rerum dolorem vel at fugiat iusto illum qui, facilis veniam eius
          itaque suscipit culpa nesciunt quaerat quam tenetur eveniet? Animi,
          alias esse!</span
        ><span
          >Dolorem iusto, aliquid, nam reiciendis praesentium a enim minus
          sapiente minima commodi sunt perferendis libero esse? Repellat hic
          quae ipsa consectetur minima, atque cumque possimus illum porro quo
          accusantium cum.</span
        ><span
          >Perferendis necessitatibus, animi adipisci quisquam, molestias quam
          laborum ut amet reiciendis nesciunt quo vero quasi cumque ipsam
          exercitationem magni culpa odio atque hic tempore? Quibusdam
          sapiente aspernatur officia quidem cumque.</span
        >
      </p>
    </div>
  </section>
  <app-line></app-line>