<div class="item-container">
  <div class="item-description-img">
    <div class="cart-item-img">
      <img [src]="item?.book?.Imageurl" alt="image" />
    </div>
    <div class="description">
      <h1 >{{item?.book?.name}}</h1>
      <p>Volume 1</p>
    </div>
  </div>
  
  <div class="count">
    <div class="increment-decrement">
      
      <form >
        <button type="button" class="increment-button" (click)="increment()">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        <input
          
          type="number"
          id="quantity"
          name="count"
          
        
        />
        <p>{{num}}</p>
        <button type="button" class="decrement-button" (click)="decrement()" [disabled]="num ==1">
            <fa-icon [icon]="faMinus"></fa-icon>
          </button>
      </form>

      
    </div>
  </div>
  <div class="price">
    <p>{{item?.book?.Price|currency}}</p>
  </div>
  <div class="delete">
    <button (click)="delete(item)"><fa-icon [icon]="faTrash"></fa-icon></button>
  </div>
  
</div>
